<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bscss/bootstrap.min.css">

    <script src="/jquery/jquery.js"></script>
    <script src="/bsjs/bootstrap.min.js"></script>
    <script src="/popperjs/popper.min.js"></script>
    <script src="/publico/js/form-album.js"></script>
    <script src="/publico/js/form-validation.js"></script>

    <title>Personalidades Negras</title>

    <link href="/publico/css/carousel.css" rel="stylesheet">
</head>
 <div id="header"></div>
<body>  
    <main>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                        <img src="/img/carousel1.jpg">

                    <div class="container">
                        <div class="carousel-caption text-start">
                            <h1>Personalidades Negras.</h1>
                            <p>A beleza negra resiste.</p>
                            <p><a class="btn btn-lg btn-primary" href="album">Crie seu album</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                        <img src="/img/carousel2.jpg">

                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Personalidades Negras.</h1>
                            <p>A beleza negra resiste.</p>
                            <p><a class="btn btn-lg btn-primary" href="album">Crie seu album</a></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                        <img src="/img/carousel3.jpg">

                    <div class="container">
                        <div class="carousel-caption text-end">
                            <h1>Personalidades Negras.</h1>
                            <p>A beleza negra resiste.</p>
                            <p><a class="btn btn-lg btn-primary" href="album">Crie seu album</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Voltar</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Proximo</span>
            </button>
        </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading"> Nelson Mandela </h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        In vulputate risus quis turpis vulputate pulvinar. Vestibulum et dolor condimentum,
                         cursus sem suscipit, cursus nisl. Proin dignissim nunc quis justo sagittis porta. 
                         Nam iaculis nisi et semper convallis. Pellentesque sed ante id risus vehicula 
                         condimentum sed ac ex. Donec bibendum, ex eu facilisis mollis, mauris metus fringilla
                          urna, id facilisis elit ipsum nec ligula. Nam ac mi velit. Mauris sagittis nunc 
                          fringilla ex feugiat volutpat. Quisque commodo faucibus feugiat. Aenean varius non 
                          diam a porta. Praesent dapibus pretium justo, sed consequat lorem elementum quis. 
                          Aenean tempor auctor nulla ut euismod. Mauris tortor tellus, aliquam vitae viverra
                          vitae, efficitur ut libero.</p>
                </div>
                <div class="col-md-5">
                    <img src="/img/carousel1.jpg" width="500" height="500">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Martin Luther King</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        In vulputate risus quis turpis vulputate pulvinar. Vestibulum et dolor condimentum,
                         cursus sem suscipit, cursus nisl. Proin dignissim nunc quis justo sagittis porta. 
                         Nam iaculis nisi et semper convallis. Pellentesque sed ante id risus vehicula 
                         condimentum sed ac ex. Donec bibendum, ex eu facilisis mollis, mauris metus fringilla
                          urna, id facilisis elit ipsum nec ligula. Nam ac mi velit. Mauris sagittis nunc 
                          fringilla ex feugiat volutpat. Quisque commodo faucibus feugiat. Aenean varius non 
                          diam a porta. Praesent dapibus pretium justo, sed consequat lorem elementum quis. 
                          Aenean tempor auctor nulla ut euismod. Mauris tortor tellus, aliquam vitae viverra
                          vitae, efficitur ut libero.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="/img/carousel2.jpg" width="500" height="500">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Bob Marley</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        In vulputate risus quis turpis vulputate pulvinar. Vestibulum et dolor condimentum,
                         cursus sem suscipit, cursus nisl. Proin dignissim nunc quis justo sagittis porta. 
                         Nam iaculis nisi et semper convallis. Pellentesque sed ante id risus vehicula 
                         condimentum sed ac ex. Donec bibendum, ex eu facilisis mollis, mauris metus fringilla
                          urna, id facilisis elit ipsum nec ligula. Nam ac mi velit. Mauris sagittis nunc 
                          fringilla ex feugiat volutpat. Quisque commodo faucibus feugiat. Aenean varius non 
                          diam a porta. Praesent dapibus pretium justo, sed consequat lorem elementum quis. 
                          Aenean tempor auctor nulla ut euismod. Mauris tortor tellus, aliquam vitae viverra
                          vitae, efficitur ut libero.</p>
                </div>
                <div class="col-md-5">
                    <img src="/img/carousel3.jpg" width="500" height="500">
                </div>
            </div>

            <hr class="featurette-divider">
            <div class="container marketing">
               
                <h2 style="text-align: center; padding: auto;">Desenvolvedores</h2>
               
                <div class="row">
                    <div class="col-lg-4">        
                              <img class="bd-placeholder-img rounded-circle" src="/img/dev1.jpg" width="140" height="140" preserveAspectRatio="xMidYMid slice">
                        <h2>Luiz Ricardo</h2>
                    </div>

                    <div class="col-lg-4">
                                <img class="bd-placeholder-img rounded-circle" src="/img/dev2.jpg" width="140" height="140" preserveAspectRatio="xMidYMid slice">
                        <h2>Bruno Vieira</h2>
                    </div>

                    <div class="col-lg-4">
                                <img class="bd-placeholder-img rounded-circle" src="/img/dev3.jpg" width="140" height="140" preserveAspectRatio="xMidYMid slice">
                        <h2>Fábio Luiz</h2>
                    </div>
                </div>


        </div>
        <div id="footer"></div>
</body>

</html>